@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

h1 {
  font-family: 'Helvetica', sans-serif;
  font-size: 50px;
  text-align: center;
  font-weight: 100;
}

 h2 {
  font-family: 'Helvetica', sans-serif;
  text-align: center;
  font-weight: 100;
}

.square1 {
  background-color:#0000ff;
  width: 200px;
  height: 200px;
  grid-column-start: 2;
}

.square2 {
  background-color:#ff0000;
  width: 200px;
  height: 200px;
  grid-column-start: 3;
}

.square3 {
  background-color:#ffff00;
  width: 200px;
  height: 200px;
  grid-column-start: 4;
}

.square4 {
  background-color:#EE82EE;
  width: 200px;
  height: 200px;
  grid-column-start: 2;
  grid-row-start: 2;
}

.square5 {
  background-color:#33cccc;
  width: 200px;
  height: 200px;
  grid-column-start: 3;
  grid-row-start: 2;
}

.square6 {
  background-color:#adff2f;
  width: 200px;
  height: 200px;
  grid-column-start: 4;
  grid-row-start: 2;
}

.square7 {
  background-color:#FF00FF;
  width: 200px;
  height: 200px;
  grid-column-start: 2;
  grid-row-start: 3;
}

.square8 {
  background-color:#ff6600;
  width: 200px;
  height: 200px;
  grid-column-start: 3;
  grid-row-start: 3;
}

.square9 {
  background-color:#00ffff;
  width: 200px;
  height: 200px;
  grid-column-start: 4;
  grid-row-start: 3;
}

#grid {
  text-align: center;
  display:grid;
  grid-gap:50px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  
}

.rotate {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    transition: 3s all;
}
